<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head.ejs') %>
    <body>
        <%- include('partials/nav.ejs') %>
        <div>
            <h1>Login</h1>
            <% if (typeof error !== 'undefined') { %>
                <div class="alert alert-danger"><%= error %></div>
            <% } %>
            <form action="/login" method="POST">
                <input type="text" name="username" placeholder="Username" required />
                <input type="password" name="password" placeholder="Password" required />
                <button type="submit">Login</button>
            </form>
        </div>
    </body>
    <%- include('partials/foot.ejs') %>
</html>